<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Open to all, including learners who have little to no prior computational experience. Lessons build on learners' existing 
  knowledge to enable them to quickly apply skills learned to their own research. Participants will be encouraged to work together and 
  share experiences, with an eye toward applying what they have learned to their own research problems. 
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
